<div class="holder">
	<h1 class="header">
	  {{title}}
	</h1>

	<div class="main"> 
		<div class="nav">
		    <div *ngFor="let person of savedPeople" (click)="updateProfileContent(person, $event)">{{person.firstName}} {{person.lastName}}</div>
		</div>
		
		<div id="content-box" class="content">
			<div *ngIf="currentImg" class="imgholder">
				<img src="assets/{{currentImg}}">
			</div>
			<h1 *ngIf="currentFirstName">{{currentFirstName}} {{currentLastName}}</h1>
			<ng-container *ngIf="currentProfileContent">
				<p *ngFor="let content of currentProfileContent">{{content}}</p>
			</ng-container>	
		</div>
	</div>
</div>