.holder {
	margin : 0 auto;
	width:700px;
}

.header {
	text-align: center;
}

.nav {
	width: 30%;
	height: 100%;
	min-height: 500px;
	float:left;
	border-right: 1px solid grey;
}

.nav div:first-child {
	margin-top:40px;
}

.content {
	width: 65%;
	float:right;
}

.content .imgholder {
	border: 5px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 120px;
	height: 120px;
	float: left;
    overflow: hidden;
    margin: 0 10px 10px 0;
}

.nav div {
	height:30px;
	border : 1px solid grey;
	background-color: rgb(191, 191, 191);
	text-align: center;
	border-right: 0px;
	border-bottom: 0px;
	line-height: 27px;
}

.nav div:last-child {
	border-bottom: 1px solid grey;
}

.nav div.active {
	background: white;
    font-weight: 900;
}

.nav div span {
	margin-top: 5px;
	display:block;
}

.content img {
	width:100%;
}

.content h1 {
	margin-top:0px;
}


@media screen and (max-width: 50em) { 
	.holder {
		width:100%;
		margin:none;
	}
	
	.nav {
		width: 100%;
		border-right:none;
		min-height: 10px;
	}
	
	.nav div {
		border-right: 1px solid grey;
		text-align: left;
		padding-left: 10px; 
		width: 100%;
		float: left;
	}
	
	.nav div:first-child {
		margin-top:10px;
	}
	
	.nav div.active {
		border:none;
	}
	
	.content {
		width: 100%;
	}
	
	.nav div.content {
		float: left;
    	height: 100%;
    	background:white;
    	border:none;
   	}
	
	.content h1 {
		display:none;
	}
}





